@import "tailwindcss";

:root {
  --background: #111827;
  /* gray-900 */
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Removed media query for dark mode as we are enforcing dark mode globally */

body {
  background: var(--background);
  color: var(--foreground);
}